ErrorDocument 500 500.html
ErrorDocument 401 401.html
ErrorDocument 404 404.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # this trick was discovered by https://www.youtube.com/watch?v=gNY4kC7-Q-k&ab_channel=JohnMorris
    RewriteRule ^(.*)$ ./index.php?u=$1 [L,QSA]
</IfModule>
